
{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block nav %}
{{ show_links(user_info) }}
{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">

  {% for qt_i in questions_info %}
  <div class="jumbotron">
    <h1>{{ qt_i.question_text }}</h1>
    <p>{% if qt_i.answer_text==None %} 
        No answers Yet
        {% else %}
        {{ qt_i.answer_text }}
        {% endif %} 
    </p>
    <p><a class="btn btn-primary btn-lg">Asked By: {{ asked_by[loop.index-1].name }}</a></p>
    <p><a class="btn btn-primary btn-lg">Answered By: {{ answered_by[loop.index-1].name }}</a></p>
  </div>
  {% endfor %}
</div> <!-- /container -->
{% endblock %}













