{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block nav %}
{{ show_links(user_info) }}
{% endblock %}


{% block body %}
<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h1>Users</h1>
    <h6>Click to promote to expert</h6>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        {% for user_name in users %}
        
        {% if user_name.expert==0 %}
        <a href="{{ url_for('promote',username=user_name.name,action='add') }}" class="list-group-item ">
          <h4 class="list-group-item-heading">{{ user_name.name }}</h4>
        </a>
        {% else %}
        <a href="{{ url_for('promote',username=user_name.name,action='remove') }}" class="list-group-item active">
          <h4 class="list-group-item-heading">{{ user_name.name }}</h4>
        </a>
        {% endif %}

        {% endfor %}
      </div>
    </div><!-- /.col-lg-12 -->
  </div>

</div> <!-- /container -->
{% endblock %}

        <!-- <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Herbert</h4>
        </a>
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Anthony</h4>
        </a> -->











